.header {
  width: 100vw;
  height: 70px;
  padding-inline: 40px;
  background: linear-gradient(180deg, var(--bg-color-gradation));
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}
.header_container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--color-primary); */
}
.header_container__logo {
  color: var(--font-color-primary);
  display: block;
  width: 200px;
  height: 50px;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
  line-height: 50px;
  font-size: 2.5rem;
}

@media(max-width:756px){
  .header{
    padding: 0;
  }
  .header_container{
    width: 90%;
  }
}
