.home{
  width: 100%;
  max-width: 1440px;
  padding-block: 40px;
}

.home_container {
  margin: 0 auto;
  height: 100vh;
  border: 4px solid var(--frame-color);
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-image: url(/map.jpg);
  background-position: center;
  background-size: cover;
  gap: 40px;
  padding: 70px;
  font-size: 4.4rem;
}

@media(max-width:756px){
  .home_container{
    width:90%;
  }
}