.profile {
  width: 100%;
  max-width: 1440px;
  padding-block: 40px;
  color: var(--font-color-sub);
}
.profile_title {
  font-weight: 400;
  font-size: 4.4rem;
  color: var(--font-color-primary);
  
}

.profile_container {
  border: 4px solid var(--frame-color);
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-image: url(/map.jpg);
  background-position: center;
  background-size: cover;
  gap: 40px;
  padding: 70px;
}

.profile_container__image {
  width: 40%;
}

.profile_container__image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.profile_container__text {
  width: 60%;
  overflow-wrap: break-word;
}
.profile_container__text h2{
  font-weight: 400;
  font-size: 3.6rem;
  margin-bottom: 10px;
}

.profile_container__text p{
  font-weight: 400;
  margin-bottom: 40px;
  white-space: pre-line;
}

.explain dt{
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.explain dd{
  white-space: pre-line;
  margin-bottom: 40px;
}

@media (max-width: 756px) {
  .profile {
    width: 90%;
  }
  .profile_container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
  }
  .profile_container__image {
    width: 100%;
  }
  .profile_container__text {
    width: 100%;
  }
}
